//  imported on the bottom of main ?

// Tablets & Smaller

@media (max-width: 800px) {
  #logo {
    width: 100px;
    height: 100px;
  }

  #header-home {
    height: 35rem;

    .header-content {
      padding-top: 5rem;
    }
  }
  #contact {
    &-a {
      .text-fields {
        padding-top: 1rem;
      }
    }
  }
  .contact-info > div p {
    word-break: break-all;
  }
}
// Smartphones
@media (max-width: 550px) {
  #main-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul {
      li {
        padding: 1rem 1rem;
      }
    }
  }
  #header {
    &-home {
      height: 12rem;
      border-bottom: 3px solid $main-color;

      .header-content {
        display: none;
      }
    }
    &-inner {
      height: 12rem;
      background: $bg-image no-repeat center right/cover;
      border-bottom: 3px solid $main-color;
    }
  }

  // Stack Grid columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  #home {
    &-a {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }
  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }
    &-c {
      display: none;
    }
  }

  // Contact

  #contact {
    &-a {
      .section-title {
        font-size: 2rem;
      }
      .bottom-line {
        width: 3rem;
        height: 1px;
      }
      .lead {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
      .text-fields {
        grid-template-areas:
          "name"
          "email"
          "subject"
          "phone"
          "message";
      }
      & button[type="submit"] {
        width: 50%;
      }
    }
    &-b {
      .contact-info {
        & > div {
          border-bottom: 1px solid #f00;
        }
      }
    }
    &-c {
      padding: 0;

      .l-heading {
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .bottom-line {
        width: 10rem;
        height: 2px;
        margin: 0 auto;
      }
    }
  }

  //  Footer
  #main-footer {
    height: 7rem;
    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
      .social {
        .fab {
          padding-top: 1rem;
        }
      }
    }
  }
}

// Landscape - Mobile landscape using HEIGHT instead of width
@media (max-height: 580px) {
  #header-home {
    .header-content h1 {
      font-size: 2.5rem;
    }
  }

  #logo {
    height: 100px;
    width: 100px;
  }
  #header-home {
    .header-content {
      padding-top: 0;
    }
  }
}
